.projectItem {
    &:hover,
    &.is-active {
        .menuButton {
            opacity: 1;
            background: transparent;
        }
    }
}

.projectColorPicker {
    padding: $space-xs 0;
}

.projectEditorMembers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-s;
}