.trackerLayout {
    display: flex;
    width: 100%;
    height: 100%;

    &:has(.sidebar.is-collapsed) {
        .tasksHeader {
            padding-left: 48px;
        }

        &:has(.listView) {
            .tasksHeader {
                padding-left: 0;
            }
        }
    }
}

.sidebar {
    width: 240px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    padding: $space-l $space-s;

    background: var(--color-surface-secondary);
    border-right: 1px solid var(--color-border);

    transition: width .2s ease;

    &.is-collapsed {
        //
        width: 0;
        padding-left: 0;
        padding-right: 0;

        border: none;
        background: transparent;

        .sidebarUserButton,
        .sidebarContent {
            display: none;
        }

        .sidebarHeader {
            position: absolute;
            top: $space-l;
            left: $space-s;
            z-index: 100;
        }
    }
}

.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);

    .sidebarUser {
        position: relative;

        min-width: 0;
        flex: 1;
    }

    .sidebarUserButton {
        // кнопка с email в заголовке
        @extend %button;
        @extend %hover-surface;

        justify-content: flex-start;

        gap: $space-s;

        max-width: 100%;
        padding: $space-xs;
    }

    .sidebarUserAvatar {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;

        color: var(--color-on-accent);
        background: var(--color-accent);

        font-size: 13px;
        font-weight: 600;
    }

    .sidebarUserArrow {
        flex-shrink: 0;
        font-size: 18px;
    }
}

.sidebarContent {
    //padding: $space-xs;

    .sidebarTitle {
        margin-top: $space-l;
        padding: $space-s $space-xxs;

        color: var(--color-text);

        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
    }

    .projectList {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}

.sidebarNavItem {
    @extend %menu-option;

    &.is-active {
        color: var(--color-accent);
        background: var(--color-accent-soft);
    }

    .sidebarNavIcon {
        flex-shrink: 0;
        font-size: 20px;
        color: var(--color-accent);
    }

    .sidebarNavTitle {
        flex: 1;
        min-width: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.projectItem {
    .projectColor {
        // margin-left: $space-xxs;
        width: 8px;
        height: 8px;
        flex-shrink: 0;

        border-radius: 50%;

        background: var(--project-color);
    }

    .menuButton {
        width: 20px;
        height: 20px;

        &:hover {
            color: var(--color-text);
        }
    }
}

.addProjectButton {
    //@extend %menu-option;
    // color: var(--color-text-secondary);
    // line-height: 1.2;
    // @extend .addCategoryButton;

    /*     .material-symbols-rounded {
        font-size: 16px;
    } */
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        padding: $space-s;
    }

    .sidebarNavItem,
    .addProjectButton {
        gap: $space-s;
        min-height: 36px;
        padding: $space-xs $space-s;

        font-size: 14px;
    }

    .sidebarTitle {
        font-size: 13px;
    }

    .sidebarUserName {
        font-size: 14px;
    }
}




// ===== Стили для всплывающего окна настроек =====

.sidebarUserMenu {
    @extend %popover;

    position: absolute;
    top: calc(100% + $space-xxs);
    left: 0;
    right: 0;

    z-index: 100;
    width: 240px;
}

.sidebarUserMenuHeader {
    display: flex;
    align-items: center;
    gap: $space-s;

    min-width: 0;
    padding: $space-s;
}

/* .sidebarUserMenuHeader > .avatar {
    flex-shrink: 0;
} */

.sidebarUserMenuInfo {
    flex: 1;
    min-width: 0;
}

.sidebarUserMenuName {
    overflow: hidden;
    font-weight: 600;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebarUserMenuEmail {
    overflow: hidden;
    margin-top: 2px;
    color: var(--color-text-secondary);

    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebarToggleButton {
    @extend %icon-button;

    .material-symbols-rounded {
        font-size: 20px;
    }
}
