.taskGroup {
    min-width: 0;
    padding: $space-s;

    border-radius: $bd-radius;

    &:hover {
        .menuButton {
            opacity: 1;
        }
    }
}

.taskGroupHeader {
    margin-top: $space-l;
    margin-bottom: $space-m;
    //padding: $space-xs;
}

.taskGroupMenuButton {
    margin-left: auto;
    flex-shrink: 0;
}

.taskGroupInfo {
    display: flex;
    align-items: center;
    gap: $space-xs;

    width: 100%;

    color: var(--color-text);

    min-height: 20px;
}

.taskGroupTitle {
    @extend %badge-title;
}

/* .taskGroup.has-color {
    .taskGroupTitle {
        color: var(--task-group-color);

        background: color-mix(in srgb,
                var(--task-group-color) 18%,
                transparent);
    }
} */

.taskGroupCounter {
    color: var(--color-text-secondary);
    font-weight: 500;
}

.taskGroupItems {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
}

.taskGroupDropZone {
    flex: 1;
    min-height: 12px;
}

.addCategoryButton {
    @extend %button;

    justify-content: flex-start;

    width: 100%;
    padding: $space-m;

    color: var(--color-text-secondary);
    background: var(--color-hover);

    &:hover {
        color: var(--color-accent);
    }

    .addButtonIcon {
        flex-shrink: 0;
    }
}

.taskGroupSettingsMenu {
    min-width: 200px;
}