// ======================================
// Task
// ======================================

.task {
    display: flex;
    align-items: flex-start;

    width: 100%;

    gap: $space-m;
    padding: $space-m;

    color: var(--color-text);

    line-height: 20px;

    transition:
        border-color .15s ease,
        background-color .15s ease;

    .taskDueDate.is-empty,
    .deleteButton {
        opacity: 0;
        visibility: hidden;
    }

    body:not(.is-dragging) &:hover {
        border-color: var(--color-border-strong);

        .taskDueDate.is-empty,
        .deleteButton {
            opacity: 1;
            visibility: visible;
        }
    }
}



// ======================================
// Status
// ======================================

.taskCheckbox {
    @extend %circle;

    border: 1px solid var(--color-checkbox);
    background: transparent;

    span {
        @extend %circleIcon;

        opacity: 0;
        transition: opacity .2s ease;
        color: var(--color-checkbox-icon);
    }

    // Незавершенная
    &:not(.is-completed) {
        &[data-priority="high"] {
            border: 2px solid $clr_priority_high;
            background: rgba($clr_priority_high, 0.1);
        }

        &[data-priority="medium"] {
            border: 2px solid $clr_priority_medium;
            background: rgba($clr_priority_medium, 0.1);
        }

        &[data-priority="low"] {
            border: 2px solid $clr_priority_low;
            background: rgba($clr_priority_low, 0.1);
        }

        &:hover {
            span {
                opacity: 1;
                color: inherit;
            }
        }
    }

    // Завершенная
    &.is-completed {
        background: var(--color-checkbox);

        span {
            opacity: 1;
        }

        &:hover {
            background: transparent;

            span {
                opacity: 0;
            }
        }
    }
}

// ======================================
// Content
// ======================================

.taskContent {
    display: flex;
    flex: 1;
    gap: $space-s;

    color: var(--color-text);
    background: transparent;
}

.taskTitle {
    flex: 1;
    overflow-wrap: anywhere;
    cursor: default;
}

.taskDuration {
    width: 60px;

    color: var(--color-text-secondary);
}

.taskPriority {
    @extend %interactive;

    display: inline-flex;
    align-items: center;
    gap: $space-s;

    .taskPriorityText {
        color: var(--color-text);
        white-space: nowrap;
    }
}


// ======================================
// Buttons
// ======================================

.timerControl {
    display: flex;
    align-items: center;
    gap: 2px;

    .timerButton {
        @extend %button;

        padding: 0;

        &:hover {
            color: var(--color-accent);
        }

        span {
            font-size: 18px;
            color: var(--color-text-secondary);
            line-height: 1;
        }

        &:hover span {
            color: inherit;
        }
    }
}

.taskDueDate {
    @extend %interactive-badge;

    &.is-overdue {
        color: $clr-overdue;
        background: rgba($clr-overdue, .1);
    }

    &.is-today {
        color: $clr-today;
        background: rgba($clr-today, .1);
    }

    &.is-tomorrow {
        color: $clr-tomorrow;
        background: rgba($clr-tomorrow, .1);
    }

    &.is-this-week {
        color: $clr-this-week;
        background: rgba($clr-this-week, .1);
    }
}