// ======================================
// Task
// ======================================

.task {
    display: flex;
    align-items: flex-start;

    width: 100%;

    gap: $space-m;
    padding: $space-m;

    color: var(--color-text);

    line-height: 20px;

    transition:
        border-color .15s ease,
        background-color .15s ease;

    .deleteButton {
        opacity: 0;
        visibility: hidden;
    }

    body:not(.is-dragging) &:hover {
        border-color: var(--color-border-strong);

        .deleteButton {
            opacity: 1;
            visibility: visible;
        }
    }
}



// ======================================
// Status
// ======================================

.taskCheckbox {
    @extend %circle;

    border: 1px solid var(--color-checkbox);
    background: transparent;

    span {
        @extend %circleIcon;

        opacity: 0;
        transition: opacity .2s ease;
        color: var(--color-checkbox-icon);
    }

    // Незавершенная
    &:not(.is-completed) {
        &[data-priority="high"] {
            border: 2px solid $clr_priority_high;
            background: rgba($clr_priority_high, 0.1);
        }

        &[data-priority="medium"] {
            border: 2px solid $clr_priority_medium;
            background: rgba($clr_priority_medium, 0.1);
        }

        &[data-priority="low"] {
            border: 2px solid $clr_priority_low;
            background: rgba($clr_priority_low, 0.1);
        }

        &:hover {
            span {
                opacity: 1;
                color: inherit;
            }
        }
    }

    // Завершенная
    &.is-completed {
        background: var(--color-checkbox);

        span {
            opacity: 1;
        }

        &:hover {
            background: transparent;

            span {
                opacity: 0;
            }
        }
    }
}

// ======================================
// Content
// ======================================

.taskContent {
    flex: 1;
    min-width: 0;

    color: var(--color-text);
    background: transparent;
}

.taskTitle {
    overflow-wrap: anywhere;
    cursor: default;
}

.taskProperties {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: $space-xs $space-s;

    min-width: 0;
}

.taskProperty {
    min-width: 0;

    display: inline-flex;
    align-items: center;

    font-size: 12px;
    line-height: 16px;

    color: var(--color-text-secondary);
}



.taskDuration {
    white-space: nowrap;
    color: var(--color-text-secondary);
}

.taskPriority {
    @extend %interactive-badge;

    gap: $space-xs;

    .priorityDot {
        flex-shrink: 0;
    }

    .taskPriorityText {
        color: inherit;
        white-space: nowrap;
    }
}


// ======================================
// Buttons
// ======================================

.timerControl {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    .timerButton {
        @extend %button;

        padding: 0;

        span {
            font-size: 17px;
            line-height: 1;

            color: var(--color-text-secondary);
        }

        &:hover {
            color: var(--color-accent);

            span {
                color: inherit;
            }
        }
    }
}

.taskAssignee {
    gap: $space-xs;

    border-radius: $bd-radius;

    cursor: pointer;

    &:hover {
        background: var(--color-hover);
    }
}

.taskDueDate {
    @extend %interactive-badge;

    &.is-overdue {
        color: $clr-overdue;
        background: rgba($clr-overdue, .18);
    }

    &.is-today {
        color: $clr-today;
        background: rgba($clr-today, .18);
    }

    &.is-tomorrow {
        color: $clr-tomorrow;
        background: rgba($clr-tomorrow, .18);
    }

    &.is-this-week {
        color: $clr-this-week;
        background: rgba($clr-this-week, .18);
    }
}

@media (max-width: 768px) {
    .task {
        .taskTitle {
            font-size: $mobile-font-primary;
            line-height: 21px;
        }

        .taskTimer,
        .taskDueDate {
            font-size: $mobile-font-secondary;
        }

        .taskGroupTitle {
            font-size: $mobile-font-title;
        }

        .tasksHeaderTitle {
            font-size: $mobile-font-page-title;
        }

        .sidebarNavItem,
        .addProjectButton,
        .sidebarUserName {
            font-size: $mobile-font-primary;
        }
    }
}