.taskGroup {
    min-width: 0;
    padding: $space-s;

    border-radius: $bd-radius;
}

.taskGroupHeader {
    margin-bottom: $space-s;
    padding: $space-xs;
}

.taskGroupInfo {
    display: flex;
    align-items: center;
    gap: $space-xs;

    width: 100%;

    color: var(--color-text);

    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

.taskGroupDeleteButton {
    @extend .deleteButton;

    margin-left: auto;
}

.taskGroupCounter {
    color: var(--color-text-secondary);
    font-weight: 500;
}

.taskGroupItems {
    display: flex;
    flex-direction: column;
    gap: $space-xs;
}

.taskGroupDropZone {
    flex: 1;
    min-height: 12px;
}

.addCategoryButton {
    @extend %button;

    justify-content: flex-start;

    width: 100%;
    padding: $space-m;

    color: var(--color-text-secondary);
    background: var(--color-hover);

    &:hover {
        color: var(--color-accent);
    }

    .addButtonIcon {
        flex-shrink: 0;
    }
}