.task,
.taskGroup {
    &.is-chosen {
        @extend %drag-chosen;
    }

    &.is-ghost {
        @extend %drag-ghost;
    }

    &.is-dragging {
        cursor: grabbing;
    }
}

.task {

    body:not(.is-dragging) &:hover {
        border-color: var(--color-border-strong);
    }

    &.is-completed {
        .taskTitle {
            color: var(--color-text-secondary);
        }

        .taskProperties {
            opacity: .6;
        }
    }

    &.is-running {
        .taskDurationProperty {
            color: var(--color-accent);

            .taskDuration,
            .timerButton span {
                color: var(--color-accent);
                font-weight: 500;
            }
        }
    }
}