.tasksHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: $space-m;

    padding: $space-l $space-xl 0;
}

.tasksHeaderTitle {
    min-width: 0;
    margin: 0;

    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;

    overflow-wrap: anywhere;
}

.trackerToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: $space-m;

    padding: $space-l $space-xl;
    border-bottom: 1px solid var(--color-border);
}

.pageMenuButton {
    @extend %icon-button;

    flex-shrink: 0;

    color: var(--color-text-secondary);

    .material-symbols-rounded {
        font-size: 20px;
    }

    &:hover {
        color: var(--color-text);
        background: var(--color-hover);
    }
}

.toolbarAction {
    @extend %button;

    display: inline-flex;
    align-items: center;
    gap: $space-xs;
    padding: $space-xxs $space-xxs;

    color: var(--color-text-secondary);

    .material-symbols-rounded {
        flex-shrink: 0;
        font-size: 18px;
    }

    &:hover {
        color: var(--color-text);
        background: var(--color-hover);
    }
}




.segmentedControl {
    display: inline-flex;
    overflow: hidden;

    border: 1px solid var(--color-border);
    border-radius: $bd-radius;
}

.segmentedControlButton {
    @extend %button;
    color: var(--color-text-secondary);
    font-weight: 500;

    padding: $space-xs $space-md;

    &:hover {
        background: var(--color-accent-soft);
    }

    &.active {
        color: var(--color-accent);
        background: var(--color-accent-soft);
    }
}

.toolbarButton {
    @extend .segmentedControlButton;

    border: 1px solid var(--color-border);
}

















/* .toolbarMenu {
    @extend %popover;

    position: fixed;
    z-index: 10000;

    min-width: 220px;
} */

/* .propertyMenuItem {
    @extend %menu-option;

    display: flex;
    align-items: center;

    width: 100%;

    cursor: pointer;
} */

/* .menuSetting {
    @extend %menu-option;

    display: flex;
    align-items: center;

    width: 100%;

    cursor: pointer;
}

.menuSettingLabel {
    flex: 1;
} */

.toolbarActions {
    display: flex;
    align-items: center;
    gap: $space-l;
}


@media (max-width: $breakpoint-mobile) {
    .trackerToolbar {
        gap: $space-s;
        padding: $space-m;
        // flex-wrap: wrap;
    }

    .toolbarActions {
        gap: $space-xxs;
    }

    .toolbarAction {
        width: 32px;
        height: 32px;
        flex-shrink: 0;

        justify-content: center;

        padding: 0;

        .material-symbols-rounded {
            font-size: 20px;
        }
    }

    .toolbarActionText {
        display: none;
    }
}