.boardView {
    display: flex;
    align-items: stretch;
    gap: $space-s;
    padding-inline: $space-m;

    min-width: 100%;

    .taskGroup {
        flex: 0 0 300px;

        display: flex;
        flex-direction: column;
    }

    .addCategoryButton {
        flex: 0 0 300px;
        align-self: flex-start;
    }

    .task {
        align-items: flex-start;

        border: 1px solid var(--color-border);
        border-radius: $bd-radius;
    }

    .taskContent {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;

        min-width: 0;

        gap: $space-xs;
    }

    .taskTitle {
        width: 100%;
    }

    .taskMeta {
        display: flex;
        align-items: center;
        width: 100%;
        gap: $space-s;
    }

    .taskDueDate {
        margin-left: auto;
        flex-shrink: 0;
    }
}

@media (max-width: 700px) {
    .boardView {
        padding-inline: $space-s;

        .taskGroup,
        .addCategoryButton {
            flex-basis: min(300px, calc(100vw - 32px));
        }
    }
}