.boardView {
    display: flex;
    align-items: stretch;
    gap: $space-s;
    padding-inline: $space-m;

    min-width: 100%;

    .taskGroup {
        flex: 0 0 300px;

        display: flex;
        flex-direction: column;
    }

    .addCategoryButton {
        flex: 0 0 300px;
        align-self: flex-start;
        margin-top: $space-l;
    }

    .task {
        align-items: flex-start;

        border: 1px solid var(--color-border);
        border-radius: $bd-radius;
    }

    .taskContent {
        display: flex;
        flex-direction: column;
        gap: $space-xs;
    }

    .taskTitle {
        width: 100%;
    }

    .taskProperties {
        width: 100%;

        justify-content: flex-start;
    }
}

@media (max-width: 700px) {
    .boardView {
        padding-inline: $space-s;

        .taskGroup,
        .addCategoryButton {
            flex-basis: min(300px,
                    calc(100vw - 32px));
        }
    }
}