%badge {
    --badge-color: #{$clr-badge-grey};
    
    @extend %colored-badge;

    display: inline-flex;
    align-items: center;

    width: fit-content;
    min-height: 20px;
    padding: 1px $space-xxs;

    border: 1px solid transparent;

    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: default;

    &.is-empty {
        background: transparent;
        border-color: var(--badge-color);
    }
}

%badge-title {
    @extend %colored-badge;

    width: fit-content;
    max-width: 100%;
    padding: 2px $space-xxs;

    font-size: 16px;
    font-weight: 700;
    line-height: 120%;

    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

%interactive-badge {
    @extend %badge;
    @extend %interactive;

    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.badge {
    @extend %badge;

    &.is-interactive {
        @extend %interactive;

        &:hover {
            filter: brightness(1.1);
        }
    }
}