%badge {
    display: inline-flex;
    align-items: center;

    width: fit-content;
    min-height: 20px;
    padding: 1px $space-xs;

    border: 1px solid transparent;
    border-radius: $bd-radius;

    color: $clr-badge-grey;
    background: rgba($clr-badge-grey, .18);

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;

    &.is-empty {
        background: transparent;
        border-color: $clr-badge-grey;
    }
}

%interactive-badge {
    @extend %badge;
    @extend %interactive;

    &:hover {
        filter: brightness(1.1);
    }
}