.iconButton {
    @extend %icon-button;
}

.addButton {
    @extend %button;

    justify-content: flex-start;

    gap: $space-m;
    padding: $space-m;

    &:hover {
        color: var(--color-accent);

        .addButtonIcon {
            color: var(--color-on-accent);
            background: var(--color-accent);
        }
    }
}

.addButtonIcon {
    @extend %circle;
}

.deleteButton {
    @extend %icon-button;

    &:hover {
        color: var(--color-danger);
    }

    span {
        @extend %icon;
    }
}

.menuButton {
    @extend %icon-button;
    
    flex-shrink: 0;
    opacity: 0;

    width: 26px;
    height: 26px;

    span {
        @extend %icon;
    }
}

%button-primary {
    @extend %button;
    padding: $space-xs $space-md;

    color: var(--color-on-accent);
    background: var(--color-accent);

    &:hover {
        opacity: .9;
    }
}

%button-secondary {
    @extend %button;
    padding: $space-xs $space-md;

    border: 1px solid var(--color-border);

    &:hover {
        background: var(--color-hover);
    }
}

@media (max-width: $breakpoint-mobile) {
    .menuButton {
        opacity: 1;
    }
}