.iconButton {
    @extend %icon-button;
}

.addButton {
    @extend %button;

    justify-content: flex-start;

    gap: $space-m;
    padding: $space-m;

    &:hover {
        color: var(--color-accent);

        .addButtonIcon {
            color: var(--color-on-accent);
            background: var(--color-accent);
        }
    }
}

.addButtonIcon {
    @extend %circle;
}

.deleteButton {
    @extend %icon-button;

    color: var(--color-text-secondary);

    &:hover {
        color: var(--color-danger);
    }

    span {
        @extend %icon;
    }
}

%button-primary {
    @extend %button;

    color: var(--color-on-accent);
    background: var(--color-accent);

    &:hover {
        opacity: .9;
    }
}