.modal {
    @extend %overlay;

    z-index: 1000;

    display: none;

    &.show {
        display: flex;
    }
}

.modal-content {
    @extend %surface;

    width: 400px;
    padding: $space-xl;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $space-xl;
}