// ======================================
// Popover
// ======================================

%popover {
    @extend %surface;

    box-shadow: $shadow;
}


// ======================================
// Menu structure
// ======================================

.menuSection {
    padding: $space-m $space-m;

    & + & {
        border-top: 1px solid var(--color-border);
    }
}

.menuSectionTitle {
    margin-bottom: $space-xxs;

    color: var(--color-text);

    //font-size: 14px;
    font-weight: 600;
}


// ======================================
// Menu settings
// ======================================

.menuSetting {
    display: flex;
    align-items: center;

    gap: $space-s;
    padding: $space-xs 0;

    color: var(--color-text);
}

.menuSettingVertical {
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xs;
}

.menuSettingLabel {
    color: var(--color-text);
}


// ======================================
// Menu options
// ======================================

%menu-option {
    @extend %button;
    @extend %hover-surface;

    justify-content: flex-start;

    gap: $space-s;

    width: 100%;
    padding: $space-xs $space-s;

    color: var(--color-text);
    text-align: left;
}

.menuItem {
    @extend %menu-option;
    padding-inline: 0;

    &.is-selected {
        color: var(--color-accent);
        background: var(--color-accent-soft);
    }
}

.menuItemIcon {
    flex-shrink: 0;
    font-size: 16px;
}