.timerControl {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    .timerButton {
        @extend %button;

        padding: 0;

        span {
            font-size: 17px;
            line-height: 1;
            color: var(--color-text-secondary);
        }

        &:hover,
        &.is-running {
            color: var(--color-accent);

            span {
                color: inherit;
            }
        }
    }
}