.textEditor {
    width: 100%;
    box-sizing: border-box;

    display: block;
    appearance: none;

    padding: 0;

    border: none;
    border-radius: 1px;

    outline: 1px solid transparent;
    outline-offset: 3px;

    background: transparent;

    font: inherit;
    color: inherit;

    &:focus {
        outline-color: var(--color-focus);
    }
}

textarea.textEditor {
    resize: none;
    overflow: hidden;
}

textarea.textEditor.taskTitle {
    width: 100%;
    min-width: 0;
    flex: none;
}