.userBadge {
    display: inline-flex;
    align-items: center;
    gap: $space-s;

    min-width: 0;

    color: var(--color-text);

    font-size: 12px;

    .userBadgeName {
        min-width: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.is-compact {
        .userBadgeName {
            display: none;
        }
    }
}