*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Manrope', sans-serif;

    color: var(--color-text);
    background: var(--color-bg);
}

* {
    scrollbar-width: auto; // thin
    scrollbar-color: var(--color-scrollbar) transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover);
}