// ======================================
// Interaction
// ======================================

%interactive {
    cursor: pointer;

    transition:
        background-color .15s ease,
        color .15s ease,
        border-color .15s ease,
        transform .15s ease;

    &:active {
        transform: scale(.97);
    }
}

%hover-surface {
    &:hover {
        background: var(--color-hover);
    }
}

%hover-accent {
    &:hover {
        color: var(--color-accent);
        background: var(--color-accent-soft);
    }
}


// ======================================
// Controls
// ======================================

%control-reset {
    margin: 0;
    padding: 0;

    font: inherit;
    color: inherit;

    background: transparent;
    border: none;

    appearance: none;
}

%button {
    @extend %control-reset;
    @extend %interactive;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: $bd-radius;
}

%icon-button {
    @extend %button;
    @extend %hover-surface;

    width: 32px;
    height: 32px;

    color: var(--color-text-secondary);

    flex-shrink: 0;
}

%colored-badge {
    border-radius: $bd-radius;
    color: var(--badge-color);
    background: color-mix(in srgb,
            var(--badge-color) 18%,
            transparent);
}


%checkbox {
    appearance: none;

    width: 18px;
    height: 18px;
    flex-shrink: 0;

    display: inline-grid;
    place-content: center;

    margin: 0;

    border: 1px solid var(--color-border-strong);
    border-radius: 4px;

    background: transparent;

    cursor: pointer;

    transition:
        background .15s,
        border-color .15s;

    &::before {
        content: "";

        width: 10px;
        height: 10px;

        transform: scale(0);
        transition: transform .1s;

        background: var(--color-on-accent);

        clip-path: polygon(
            14% 44%,
            0 59%,
            40% 100%,
            100% 20%,
            84% 5%,
            38% 70%
        );
    }

    &:hover {
        border-color: var(--color-accent);
    }

    &:checked {
        border-color: var(--color-accent);
        background: var(--color-accent);

        &::before {
            transform: scale(1);
        }
    }
}


// ======================================
// Surfaces
// ======================================

%surface {
    color: var(--color-text);
    background: var(--color-surface);

    border: 1px solid var(--color-border);
    border-radius: $bd-radius;
}

%overlay {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, .25);
}

// ======================================
// Drag & Drop
// ======================================

%drag-chosen {
    cursor: grabbing;

    transform: scale(1.01);

    background: var(--color-surface);
    box-shadow: $shadow-dark;
}

%drag-ghost {
    opacity: .8;
    background: var(--color-hover);
}