@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


// ===== Fixed colors =====
// badge text
$clr-badge-red: #e06c75;
$clr-badge-orange: #d19a66;
$clr-badge-yellow: #c9a94f;
$clr-badge-green: #6aab7b;
$clr-badge-blue: #6f91c7;
$clr-badge-purple: #9a7bbd;
$clr-badge-pink: #c77d9d;
$clr-badge-grey: #8b8b8b;

$clr-overdue: $clr-badge-red;
$clr-today: $clr-badge-orange;
$clr-tomorrow: $clr-badge-green;
$clr-this-week: $clr-badge-blue;
// $clr-later: $clr-badge-grey;


// ===== Semantic fixed colors =====

$clr-priority-high: $clr-badge-red;
$clr-priority-medium: $clr-badge-orange;
$clr-priority-low: $clr-badge-blue;

$clr-success: #4f9d69;
$clr-danger: #e5484d;

// ===== Spacing =====

$space-xxs: 4px;
$space-xs: 6px;
$space-s: 8px;
$space-m: 10px;
$space-md: 12px;
$space-l: 14px;
$space-xl: 20px;
$space-xxl: 24px;

// ===== Other =====
$shadow: 0 4px 12px rgba(0, 0, 0, .08);
$shadow-dark: 0 4px 12px rgba(0, 0, 0, .09);

$bd-radius: 4px;


// ===== Mobile ======
$mobile-font-primary: 16px;
$mobile-font-secondary: 14px;
$mobile-font-title: 17px;
$mobile-font-page-title: 22px;

$breakpoint-mobile: 768px;